<h1>Clients for Cutty McHaircuts Hair Salon</h1>

<% if @all_clients.nil? or !@all_clients.any? %>
  <p>You have no clients :(</p>
<% else %>
  <% @all_clients.each() do |client| %>
    <p>Name: <a href="/client/<%= client.id()%>"><%= client.name() %></a></p>
  <% end %>
<% end %>

<p><a href="/clients/new">Add a new client to the system</a></p>
<p><a href="/">Home</a></p>
