<h2>Add a client</h2>

<form class="" action="/new_client" method="post">
  <label for="client_name">Name</label>
  <input type="text" name="client_name" id="client_name">
  <label for="client_phone">Phone</label>
  <input type="text" name="client_phone" id="client_phone">

  <button type="submit" class="btn btn-success">Add client</button>
</form>
