<h2>Add a stylist</h2>

<form class="" action="/new_stylist" method="post">
  <label for="stylist_name">Name</label>
  <input type="text" name="stylist_name" id="stylist_name">

  <button type="submit" class="btn btn-success">Add stylist</button>
</form>
